@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h1>Hello tous le monde</h1>
<h3>Moi c'est Farid et vous ?</h3>
<h3> Bienvenu !!!</h3>
<p>Use this area to provide additional information.</p>
